# Firebase / Node
serviceAccountKey.json
node_modules/

# Flutter/Dart
.dart_tool/
.flutter-plugins-dependencies
.packages
build/
coverage/
*.iml
.idea/
**/doc/api/
**/ios/Flutter/.last_build_id
.pub-cache/
.pub/
android/.gradle/
ios/Pods/
ios/.symlinks/
android/app/debug
android/app/profile
android/app/release

# Misc
*.class
*.log
.DS_Store
